In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
myDictionary = {"Huseyin":20,"Salih":25,"Ferit":17 }

In [3]:
pd.Series(myDictionary)

Huseyin    20
Salih      25
Ferit      17
dtype: int64

In [5]:
myAges = [20,25,17]
myNames = ["Huseyin","Salih","Murat"]
pd.Series( myAges)

0    20
1    25
2    17
dtype: int64

In [7]:
pd.Series(myAges,myNames)

Huseyin    20
Salih      25
Murat      17
dtype: int64

In [10]:
pd.Series(data=myAges,index=myNames)

Huseyin    20
Salih      25
Murat      17
dtype: int64

In [13]:
numpyArray = np.array([20,25,17])
numpyArray2 = np.array(["Huseyin","Salih","Faik"])
pd.Series(data=numpyArray,index=numpyArray2)

Huseyin    20
Salih      25
Faik       17
dtype: int64

In [15]:
competitionResult1 = pd.Series([10,5,4],["Huseyin","Mehmet","Mert"])
competitionResult1

Huseyin    10
Mehmet      5
Mert        4
dtype: int64

In [16]:
competitionResult2 =  pd.Series([7,8,4],["Huseyin","Mehmet","Mert"])
competitionResult2

Huseyin    7
Mehmet     8
Mert       4
dtype: int64

In [17]:
competitionResult2["Huseyin"]

7

In [18]:
totalResult = competitionResult1 + competitionResult2
totalResult

Huseyin    17
Mehmet     13
Mert        8
dtype: int64

In [20]:
differentSeries1 = pd.Series([3,4,5],["a","b","c"])
differentSeries2 = pd.Series([5,6,7],["a","c","f"])
differentSeries1 + differentSeries2

a     8.0
b     NaN
c    11.0
f     NaN
dtype: float64